.cinema{
	margin-top: 1.2em;
}
.cinema li{
	display: inline-block;
	padding-left: 4.25em;
}
.cinema figcaption{
	background-color: #CDCDC1;
	border: 0.05em solid #CDCDC1;
	text-align: center;
	padding: 0.2em;
}
.cinema li > a{
	text-decoration: none;
	color: #00868B;
}